<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinking Game</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="manifest" href="../manifest.json">

    <meta name="theme-color" content="#f7d7a7">
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="../icons/icon-192x192.png">

    <!-- iOS Meta Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Drinking Game">

</head>
<body>

    <header>
        <!-- Player Turn Display -->
        <div id="player-turn" class="player-turn"></div>

        <!-- Timer Bar -->
        <div id="drink-timer" class="drink-timer">
            <div id="timer-bar" class="timer-bar"></div>
        </div>

        <!-- Timer Controls -->
        <div class="timer-controls">
            <button id="pause-timer" onclick="pauseTimerBar()">Pause</button>
            <button id="resume-timer" onclick="resumeTimerBar()">Resume</button>
            <button id="reset-timer" onclick="resetTimerBar()">Reset</button>
        </div>
    </header>

    <main>
        <section class="container">
            <div class="header">
                <ul id="conditions"></ul>
                <div class="menu-icon" onclick="openSettings()">☰</div>
            </div>

            <div class="main">
                <div class="game-container">
                    <!-- Special Abilities -->
                    <div class="special-abilities" id="special-abilities">
                        <!-- Special abilities will be displayed here -->
                    </div>

                    <!-- Center Content -->
                    <div class="center-content">
                        <button class="roll-button" onclick="timeToSip()">Roll the dice, time to drink!</button>
                        <div class="players-container">
                            <div id="players" class="players">
                                <div class="player" onclick="editPlayer(this)">
                                    <span>Player 1</span>
                                    <div class="drinks">0</div>
                                </div>
                                <div class="player" onclick="editPlayer(this)">
                                    <span>Player 2</span>
                                    <div class="drinks">0</div>
                                </div>
                            </div>
                            <div class="add-player" onclick="addPlayer()">
                                Add Player<br>+
                            </div>
                        </div>
                    </div>

                    <!-- Player Drink Tracker -->
                    <div class="player-drink-tracker" id="player-drink-tracker">
                        <!-- Player drink tracker will be displayed here -->
                    </div>
                </div>
            </div>
        </section>
    </main>

    <aside>
        <div id="settings" class="settings">
            <div class="settings-content">
                <div class="difficulty-container">
                    <label for="difficulty">Difficulty:</label>
                    <input type="range" id="difficulty" name="difficulty" min="0" max="1" step="0.01">
                    <div id="difficulty-labels">
                        <span style="color: green;">I'm Muslim</span>
                        <span style="color: yellowgreen;">Virgin Teenager</span>
                        <span style="color: yellow;">Chill</span>
                        <span style="color: orange;">For Alcoholics</span>
                        <span style="color: red;">Please call 911</span>
                    </div>
                </div>
                <div class="remove-player">
                    <label>Remove players:</label>
                    <div id="player-list"></div>
                </div>
                <div class="conditions">
                    <label for="conditions-select">Nb of extra rules:</label>
                    <select id="conditions-select" name="conditions-select">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="features">
                    <label><input type="checkbox" id="enable-questions" checked> Enable Questions</label><br>
                    <label><input type="checkbox" id="enable-special-abilities" checked> Enable Special Abilities</label><br>
                    <label><input type="checkbox" id="enable-timer" checked> Enable Timer</label>
                </div>
                <button onclick="saveSettings()">Save</button>
            </div>
        </div>
    </aside>

    <script src="../static/conditions.js"></script>
    <script src="../static/script.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('../service-worker.js')
            .then(function(registration) {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              console.log('ServiceWorker registration failed: ', err);
            });
          });
        }
      </script>      

</body>
</html>
